<div align="center">
<h1 style = "color:DogerBlue;"><신이 나를 만들 때></h1>


<%= image_tag @first_image, class: 'image' %>
<br>
<%=@result_1%>을/를 조금 넣고
<br>

<%= image_tag @second_image, class: 'image' %>
<br>
<%=@result_2%>을/를 세 숟가락 넣고
<br>

<%= image_tag @third_image, class: 'image' %>
<br>
<%=@result_3%>도 넣어 봐야지

</div>

