<div align="center">
<h1 style = "color:DogerBlue;"><신이 나를 만들 때></h1>

<!--무엇을 바꿔야될가요-->
<!--아 너 이거 이미지를 랜덤으로 받아야돼! 그니까 하나만 예시로 만들어줄게-->
<!--다시 클래스 컨트롤러로-->

<%= image_tag @first_image, class: 'image' %>
<br>
<%=@result_1%>을/를 조금 넣고
<br>

<%= image_tag @second_image, class: 'image' %>
<br>
<%=@result_2%>을/를 세 숟가락 넣고
<br>

<%= image_tag @third_image, class: 'image' %>
<br>
<%=@result_3%>도 넣어 봐야지

</div>

<!--재연아 나오는거보여? 홈페이지 실행해봐-->
<!--그니까 컨트롤러 부분에서는 너가 이미지 파일이름들있자나-->
<!--그거를 랜덤하게 가져와야돼-->
<!--그다음에 그 랜덤하게 받아온 변수를 여기서 이미지 태그에 넣으면 방금처럼 나올거야-->